HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# package files
*.jar
*.war
*.ear

# maven
target
.mvn/

# intellij
*.iml
.idea/
mvnw
mvnw.cmd
out

# gradle
**/.gradle/
**/build/
**/classes/
**/bin/

!gradle-wrapper.jar
.gradletasknamecache


LOG_PATH_IS_UNDEFINED/

rename.sh
init.sh
